
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b1d1f;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
 
}
#overflowTest {
    background: #cececd;
    color: rgb(16, 16, 16);
    padding: 15px;
    width: 30%;
    height: 1000px;
    overflow: scroll;
    border: 1px solid #ccc;
    p:hover {
     background-color: rgb(143, 143, 142);
  }
